.box h1{
    text-transform: uppercase;
    font-weight: 500;

}

.box {
    width: 600px;
    padding: 40px;
    position: absolute;
    top: 77%;
    left: 25%;
    transform: translate(-50%, -50%);
  
    text-align: center;
    border-radius: 20px;
}

.box input[type = "text"], .box input[type = "password"]  {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(0, 200, 0);
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;

}

.box input[type = "text"]:focus, .box input[type = "password"]:focus  {
 width: 400px;
}

.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(0, 200, 0) ;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer; 


}

.box input[type = "submit"]:hover {
    background : rgb(0, 200, 0);   
}